# Node modules
node_modules/
**/node_modules/

# Environment variables
.env
*.env
**/*.env

# System & Editor files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Temporary / OS files
*.tmp
*.bak

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
